.card-header {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  padding-bottom:20px;
}
.card-icon {
  width: 106px;
  height: 106px;
  background-color: $brand-color;
  border-radius: 50%;
}

.card-body {
  padding: 0;
  text-align: center;
  .card-title {
    font-family: 'oswaldbold';
    padding-bottom: 8px;
  }
  .card-description {
    color: #707070;
    font-family: 'oswaldlight';
  }
}

.card {
  padding-top: 60px;
  border: none;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  a {
    color: #fff;
    width: 40px;
    height: 40px;
    transition: .3s all;
  }
  &.active {
    background-color: #fff;
    border: 1px solid #000;
    a {
      color: $brand-color;
    }
  }
  svg {
    width: 1em;
    height: 1em;
    font-size: 40px;
    fill: currentcolor;
  }
  &:hover {
    background-color: #fff;
    border: 1px solid #000;
    a {
      color: $brand-color;
    }
  }
}

.card-inverse {
  background-color: transparent;
  .card-icon {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
  }
  a {
    color: $brand-color;
  }
  .card-body {
    .card-title {
      color: #fff;
    }
    .card-description {
      color: #fff;
    }
  }
}
.card-icon-sm {
  width: 70px;
  height: 70px;
}

.card-image {
  height: 250px;
  background: #11343a;
}

.card-team {
  border-bottom: 2px solid #dfe4e5;
  position: relative;
  &::before {
    transition: .2s;
    position: absolute;
    content: url("../images/arrow-up.svg");
    height: 58px;
    left: 50%;
    bottom: -73px;
    transform: translate(-50%, 50%);
    opacity: 0;
  }
  &:hover:before {
    opacity: 1;
  }
  .card-title {
    text-transform: uppercase;
    font-family: 'oswald_regularregular';
  }
  .card-text {
    text-transform: uppercase;
    color: #707070;
    font-family: 'oswald_regularregular';
  }
}

.worker-active {
  position: relative;
  &::after {
    position: absolute;
    content: url("../images/arrow-up.svg");
    height: 58px;
    left: 50%;
    bottom: -73px;
    transform: translate(-50%, 50%);
  }
}


.card-worker {
  max-width: 770px;
  width: 100%;
  .title {
    font-size: 20px;
    font-family: 'oswald_regularregular';
  }
  .description {
    position: relative;
    &::before {
      position: absolute;
      content: url("../images/x-icon.svg");
      width: 13px;
      height: 13px;
      cursor: pointer;
      right: 4px;
      top: -39px;
    }
  }
}

.socials {
  ul {
    margin-left: -11px;
  }
  a {
    width: 37px;
    height: 37px;
    color: #fff;
    transition: .2s;
    border: 1px solid #fff;
    &:hover {
      color: $brand-color;
      border: 1px solid $brand-color;
    }
  }
}

.circle-description {
  font-family: 'oswald_regularregular';
  color: $brand-color;
  font-size: 20px;
}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-title-inverse {
  font-size: 20px;
  font-family:'oswald_regularregular';
  color: #131316;
}

.circle {
  position: relative;
}
.circle strong {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 35px;
  color: $brand-color;
  font-family: 'oswaldlight';
  transform: translate(-50%, -50%);
  i {
    font-style: normal;
  }
}


