.navbar {
  width: 100%;
  z-index: 3;
  padding: 17px 0 26px 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #131316;
    z-index: -1;
    opacity: .3;
  }
}
.nav {
  margin: 0 -10px;
}

.nav-item {
  padding: 0 10px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: $brand-color;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  a {
    color: #fff;
    font-family: 'oswaldbold';
    &.active,
    &:hover {
      color: $brand-color;
    }
  }
  &:last-child::before {
    content: none;
  }
}

.nav-item-inverse {
  padding: 60px 0;
  a {
    color: #515151;
  }
}










//
//.navbar-holder {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//}
//
//.navbar-nav {
//  margin-right: -27px;
//  li {
//    display: inline-block;
//    padding: 0 27px;
//    position: relative;
//    &:before {
//      position: absolute;
//      content: '';
//      width: 5px;
//      height: 5px;
//      background-color: $brand-color;
//      right: 0;
//      bottom: 50%;
//      transform: translate(-50%);
//    }
//    &:last-child::before {
//      content: none;
//    }
//  }
//  a {
//    font-size: 14px;
//    font-family: 'oswaldbold';
//    color: #fff;
//    display: block;
//    transition: .2s all;
//    &.active,
//    &:hover {
//      color: $brand-color;
//    }
//  }
//}
