.section {
  padding: 60px 0;
}

.main-title {
  font-family: 'oswaldbold';
  font-size: 65px;
  color: #fff;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 25px;
}

.tagline {
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.holder-tagline {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 60px 0;
  width: 100%;
  position: relative;
  z-index: 3;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #131316;
    z-index: -1;
    opacity: .3;
  }
}

.tag-holder {
  max-width: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .pre-title {
    color: #515151;
    font-family: 'oswald_regularregular';
    padding-bottom: 20px;
  }
  .title {
    font-family: 'oswaldbold';
    font-size: 30px;
    color: $brand-color;
    padding-bottom: 20px;
    position: relative;
  }
  .title-inverse {
    font-family: 'oswaldbold';
    font-size: 30px;
    color: #000;
    padding-bottom: 20px;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 170px;
      height: 3px;
      background: $brand-color;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .description {
    color: #fff;
    max-width: 959px;
    text-align: center;
    font-family: 'oswaldlight';
  }

  .description-inverse {
    color: #707070;
    padding-top: 20px;
    max-width: 959px;
    text-align: center;
    font-family: 'oswaldlight';
  }

}

.section-how-we-do-it {
  background: #12191d;
}

.tabs-images {
  max-width: 1920px;
  width: 100%;
  display: flex;
}

.section-portfolio {
  position: relative;
  .section-heading {
    padding: 60px 0;
  }
  .title {
    color: #000;
  }
  .anchor {
    bottom: inherit;
    top: 0;
  }
}

.section-portfolio {
  .description-inverse {
    padding-bottom: 55px;
  }
}

.section-numbers {
  .value {
    font-family: 'oswaldbold';
  }
  .description {
    font-family: 'oswald_regularregular';
  }
}

.section-who-we-are {
  .card-body .card-title {
    font-family: 'oswald_regularregular';
  }
  .card-icon {
    a {
      width: 35px;
      height: 35px;
    }
    svg {
      font-size: 35px;
    }
  }
}